.vegleidarar-container {
    position: relative;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .vegleidarar-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .vegleidarar-text-container {
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Custom font */
  }
  
  .vegleidarar-heading {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .vegleidarar-heading:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  
  .vegleidarar-btns {
    position: relative;
    z-index: 1; /* Ensure the button is above the images */
    margin-top: 20px;
  }
  
  .box-shadow {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  }
  
  .vegleidarar-container > p {
    margin-top: 8px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .vegleidarar-btns {
    margin-top: 32px;
  }
  
  .vegleidarar-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .vegleidarar-container > h1 {
      font-size: 70px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .vegleidarar-container > h1 {
      font-size: 50px;
    }
  
    .vegleidarar-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  